<% provide(:title, "About") %>

    <h1>This is the about page.</h1>
    <p>
      This is the about page for the
      <a href="http://www.idontknowname.com/">I don't know name</a>social media project for week 10.
    </p>
