<!DOCTYPE html>
<html>
  <head>
    <title>WS About Page</title>
  </head>
  <body>
      <h1>ABOUT PAGE</h1>
      <p>
       <a href="http://www.wendispecialedesigns.com/"><em>About Page</em></a>
       Content here will be about the social media company that i still have no name for. Dumbass, wendi!
      </p>.
    </p>
  </body>
</html>
