<% provide(:title, "Help") %>

    <h1>This is the help page.</h1>
    <p>
      This is the help page for the
      <a href="http://www.idontknowname.com/">I don't know name</a>social media project for week 10.
    </p>
