<!DOCTYPE html>
<html>
  <head>
    <title>WS Help Page</title>
  </head>
  <body>
    <h1>HELP PAGE</h1>
    <p>
      Get help with this dumbass social media site that has not been named.
      <a href="http://www.havenotname.com/help"> help section</a>.
    </p>
  </body>
</html>
