<footer class="footer">
  <small>
    The <a href="http://www.donaldsonsocial.com/">DonaldsonSocial</a>
    a project by <a href="http://www.wendispecialedesigns.com/">Wendi Speciale</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/WendiDonaldsonSpeciale/">Facebook</a></li>
    </ul>
  </nav>
</footer>
